.mainContent {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px; /* Отступы по умолчанию для мобильных устройств */
  padding-right: 20px;
  box-sizing: border-box; /* Учитываем padding в общей ширине */
}

/* Экраны 768px и более */
@media (min-width: 768px) {
  .mainContent {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* Экраны 1024px - 1279px */
